.esb-wrapper {
    display: block;
    max-width: 100%;
    .esb-controls {
        display: flex;
        align-items: stretch;
        justify-items: center;
        align-content: center;
        justify-content: center;
        label {
            padding: .7rem 2rem;
            cursor: pointer;
            text-transform: uppercase;
            &:first-child {
                border-radius: 2rem 0 0 2rem;
            }
            &:last-child {
                border-radius: 0 2rem 2rem 0;
            }
            input[type="radio"] {
                display: none;
            }
        }
    }
    .esb-panels {
        display: block;
        .esb-panel {
            display: none;
            &.active {
                display: block;
            }
        }
    }
}
